{% extends 'toolhub/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="ms-5 mb-3">Profile for {{ user.get_full_name|default:user.username }}</h2>
    
    <div class="row">
        <!-- Profile Picture Section -->
        <div class="col-md-4 d-flex flex-column align-items-center">
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture_url }}" 
                     alt="Profile Picture" 
                     width="150" 
                     height="150"
                     class="rounded-circle mb-3">
            {% else %}
                <img src="{% static 'toolhub/images/default.png' %}" 
                     alt="Default Profile Picture" 
                     width="150" 
                     class="rounded-circle mb-3">
            {% endif %}
            
            <a href="{% url 'upload_profile_picture' %}" class="btn btn-secondary mb-2">
                Change Profile Picture
            </a>
        </div>
        
        <!-- Personal Info Section -->
        <div class="col-md-8">
            <h4>Personal Information</h4>
            <dl class="row">
                <dt class="col-sm-3">Full Name</dt>
                <dd class="col-sm-9">
                    {{ user.first_name }} {{ user.last_name }}
                </dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">
                    {{ user.email }}
                </dd>

                <dt class="col-sm-3">Phone</dt>
                <dd class="col-sm-9">
                    {{ user.phone|default:"N/A" }}
                </dd>
                
                {# Add more fields as needed #}
            </dl>
            <!-- Button to update personal information -->
            <a href="{% url 'update_profile' %}" class="btn btn-primary">
                Update Profile Information
            </a>
        </div>
    </div>
</div>
{% endblock %}