{% extends "toolhub/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h2>{{ collection.title }}</h2>
    <p>{{ collection.description }}</p>

    <div class="row">
        {% for item in items %}
        <div class="col-md-3 mb-3">
            <div class="card">
                {% if item.image %}
                <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                {% else %}
                <img src="{% static 'toolhub/images/default.png' %}" class="card-img-top" alt="Default">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}